:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #975935;
  background-color: #fdf8e1;

}

*{
  padding: 0;
  margin: 0;
}